<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Songs</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header"> Ajout des Songs </div>
			<div class="card-body">
				<form th:action="@{saveSong}" method="post">
					<div class="form-group">
						<label class="control-label">Nom Song :</label>
						<input type="text" name="nomSong" class="form-control" />
						<span th:errors= ${song.nomSong} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Time Song :</label>
						<input type="text" name="timeSong" class="form-control" />
						<span th:errors=${song.timeSong} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">date création :</label>
						<input type="date" name="dateCreation" class="form-control" />
						<span th:errors=${song.dateCreation} class="text-danger"> </span>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>