<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity6>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Songs</title>
</head>

<body>
	<div th:replace="template"></div>

	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Songs
			</div>
			<div class="card-body">

				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Song</th>
						<th>Time</th>
						<th>Date of creation</th>
						<th>Genre</th>
					</tr>
					<tr th:each="s:${songs.content}">
						<td th:text="${s.idSong}"></td>
						<td th:text="${s.nomSong}"></td>
						<td th:text="${s.timeSong}"></td>
						<td th:text="${s.dateCreation}"></td>
						<td th:if= "${!#strings.isEmpty(s.categorie)}" th:text="${s.categorie.nomCat}"></td>
						<td th:if= "${#strings.isEmpty(s.categorie)}" th:text="${'No artist'}"></td>
						<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"th:href="@{modifierSong(id=${s.idSong},page=${currentPage},size=${size})}">Editer</a></td>
						<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerSong(id=${s.idSong},page=${currentPage},size=${size})}">Supprimer</a></td>
					</tr>
				</table>
				<ul class="nav nav-pills">
				 <li th:each="page,status:${pages}">
				 <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
				 th:href="@{ ListeSongs(page=${status.index}, size=${size} ) }"
				 th:text="${status.index }"></a>
				 </li>
				 </ul>

			</div>
		</div>
	</div>
</body>

</html>